<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat System</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-light" style="background-color: #2D79D6;">
	  <!-- Navbar content -->
	  <span class="navbar-brand mb-0 h1" style="color:white;">Multiclient Chat System</span>
	  <div id="user-link-wrapper">
		  <div><a href="/logout" id="logout" class="navbar-link navbar-right" style="color:white;">logout</a></div>
			<div><a href="/leave_chat" id="leave_chat" class="navbar-link navbar-right" style="color:white;">leave</a></div>
	  </div>
	</nav>

	<div id="welcome-container">
		<h1>Start chatting, {{username}}!</h1>
	</div>

	<div id="content-container">
		<ul id="messages"></ul>
		<input type="text" id="myMsg">
		<button id="sendBtn">Send</button>
  </div>

	<script type="text/javascript">
		var username = '{{ username }}';
	</script>
	<script type="text/javascript" src="/static/client.js"></script>
</body>
</html>
