<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat System</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/interface.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
	<div class="row">
		<div class="container-split col-3 left-container" id="panel-container">
			<div class="container-title" id="user-container">
				<div class="float-left" id="user-header">
					<h1>{{username}}</h1>
				</div>
				<div class="float-right" id="user-action" style="padding:5pt;">
				  <a href="/logout" id="logout" class="btn btn-sm btn-primary">logout</a>
			  </div>
			</div>
			<div class="container-content" id="chats-container">
				<div id="chats"></div>
			</div>
		</div>

<!-- chat interface -->
		<div class="container-split col-9 right-container" id="interface-container" style="display:none;">
			<div class="container-title" id="current-chat-container">
				<div class="float-left" id="current-chat-header">
					<h1 id="room-header">Placeholder</h1>
					<!-- <button id="edit-room-btn" type="button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#edit-room"><i class="fa fa-lg fa-gear"></i></button> -->
					<button id="search" class="btn btn-primary"><i class="fa fa-search"></i></button>
					<button id="history-page-btn" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#history-page">Chat History</button>
				</div>
				<div class="float-right" id="chat-action" style="padding:5pt;">
					<button id="leave_room" class="btn btn-sm btn-outline-primary">leave this room</button>
			  </div>
		  </div>

			<div class="modal fade" id="history-page" tabindex="-1" role="dialog" aria-labelledby="history-page" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="history-title">Chat History</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
							<div class="container-fluid">
								<nav aria-label="history-page">
								  <ul class="pagination pagination-sm">
								    <li class="page-item" id="prev-history"><a class="page-link">Previous</a></li>
								    <li class="page-item" id="next-history"><a class="page-link">Next</a></li>
								  </ul>
								</nav>
								<hr>
								<div class="container-content" id="history-msg-container">
									<div id="history-messages"></div>
							  </div>
							</div>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- <div class="modal fade" id="edit-room" tabindex="-1" role="dialog" aria-labelledby="edit-room" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-scrollable modal-xl">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="room-title">Placeholder</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
							<div class="container-fluid">
								<h5>Users in the room</h5>
								<button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse" data-target="#room-users" aria-expanded="false" aria-controls="room-users">
							    show
							  </button>
								<div id="room-users" class="collapse">
									<div id="room-users-card" class="card card-body">
								    <ul>
											<li>user1</li>
										</ul>
								  </div>
								</div>
								<hr>
								<h5>Chat room settings</h5>
								<form id="room-settings">
									<div class="form-group row">
					          <label for="roomname" class="col-4 col-form-label"><b>Room name</b></label>
										<div class="col-6">
					            <input type="text" class="form-control" id="roomname" name="roomname" value="">
										</div>
									</div>
									<div class="form-group row">
										<label for="owner" class="col-4 col-form-label"><b>Owner</b></label>
										<div class="col-6">
											<select class="form-control" id="owner" name="owner">
									      <option value="owner">owner</option>
												<option value="username">username</option>
									    </select>
										</div>
									</div>
									<div class="form-group row">
										<label for="alias" class="col-4 col-form-label"><b>My alias</b></label>
										<div class="col-6">
					          	<input type="text" class="form-control" id="alias" name="alias" value="">
										</div>
									</div>
									<input type="submit" id="editRoom" class="btn btn-sm btn-primary" value="Submit"/>
					      </form>
							</div>
							<hr>
							<div id="leave_room" class="btn btn-primary">leave the room</div>
			      </div>
			    </div>
			  </div>
			</div> -->

			<div class="container-content" id="msg-container">
				<div id="messages"></div>
		  </div>

<!-- <i class="fa fa-send"></i> -->

			<div class="container-send" id="send-container">
				<form id="msgform">
					<div class="form-group row">
						<div class="col-6">
							<select class="form-control" id="private" name="private">
								<option value="" selected>send to everyone</option>
					    </select>
						</div>
						<input type="submit" class="col-2 btn btn-sm btn-primary float-right" id="sendBtn" value="Send">
						<button id="emoji-modal-btn" type="button" class="col-2 btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#emoji-modal" style="margin-left:10px;">emoji</button>
					</div>
					<textarea class="form-control" id="myMsg" name="myMsg" rows="3"></textarea>
				</form>
		  </div>

			<div class="modal fade" id="emoji-modal" tabindex="-1" role="dialog" aria-labelledby="emoji-modal" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" style="align-items: flex-end;">
			    <div class="modal-content">
			      <div class="modal-header">
							<h5 class="modal-title" id="emoji-title">Send an emoji</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-2 ml-auto emoji close" id="laugh" data-dismiss="modal" aria-label="Close" aria-hidden="true"><img src="/static/images/laugh.png" alt="laugh" height="60"></div>
									<div class="col-2 emoji close" id="surprised" data-dismiss="modal" aria-label="Close" aria-hidden="true"><img src="/static/images/surprised.png" alt="surprised" height="60"></div>
									<div class="col-2 emoji close" id="cry" data-dismiss="modal" aria-label="Close" aria-hidden="true"><img src="/static/images/cry.png" alt="cry" height="60"></div>
									<div class="col-2 mr-auto emoji close" id="hug" data-dismiss="modal" aria-label="Close" aria-hidden="true"><img src="/static/images/hug.png" alt="hug" height="60"></div>
								</div>
								<div class="row">
									<div class="col-2 ml-auto emoji close" id="sun" data-dismiss="modal" aria-label="Close" aria-hidden="true"><img src="/static/images/sun.png" alt="sun" height="60"></div>
									<div class="col-2 emoji close" id="rabbit" data-dismiss="modal" aria-label="Close" aria-hidden="true"><img src="/static/images/rabbit.png" alt="rabbit" height="60"></div>
									<div class="col-2 emoji close" id="good" data-dismiss="modal" aria-label="Close" aria-hidden="true"><img src="/static/images/good.png" alt="good" height="60"></div>
									<div class="col-2 mr-auto emoji close" id="peace" data-dismiss="modal" aria-label="Close" aria-hidden="true"><img src="/static/images/peace.png" alt="peace" height="60"></div>
								</div>
							</div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

<!-- user home -->
		<div class="container-split col-9 right-container" id="entrance-container" style="">
			<div class="container-title" id="current-chat-container">
				<div class="float-left"><h1>Hi, {{username}}!</h1></div>
		  </div>

			<div id="content-container" style="padding:30px">
				<div id="room-wrap">
					<div class="card">
						<div class="card-header">
					    <h4>Please join a chat room or ...</h4>
					  </div>
						<ul class="list-group list-group-flush" id="rooms"></ul>
					</div>
				</div>
				<div id="user-wrap">
					<form id="active-users-list">
						<div class="card">
							<div class="card-header">
						    <h4>Create a new chat room with active user(s)!</h4>
								<div class="form-group row">
									<div class="col-12 custom-control custom-switch">
										<input class="custom-control-input" type="checkbox" id="newroom-private" name="newroom-private">
										<label class="custom-control-label" for="newroom-private">Make it a private chat</label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-12">
										<label for="newroom-name">Give the new room a name:</label>
										<input type="text" id="newroom-name" name="newroom-name" value="" required>
									</div>
								</div>
								<input class="btn btn-primary" type="submit" value="Create">
						  </div>
							<ul class="list-group list-group-flush" id="users"></ul>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var username = '{{ username }}';
	</script>
	<script type="text/javascript" src="/static/client.js"></script>
	<script type="text/javascript" src="/static/utils.js"></script>
	<script type="text/javascript" src="/static/models.js"></script>
</body>
</html>
