html, body {
  overflow: hidden;
  width:100%;
  height: 100%;
}

.container-split {
  float: left;
  max-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.left-container {
  margin:0%;
  padding-left:20px;
  padding-right:5px;
  border-right: 1px solid black;
  background-color: lightblue;
}

#chats {
  max-width:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-box {
  max-width:100%;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px 10px 5px;
}

.active-chat-box {
  background-color: white;
}

.room-box {
  margin: 0px 0px 0px 10px;
}

.right-container {
  margin:0%;
  padding-left:5px;
  padding-right:20px;
}

.container-title {
  max-height: 10%;
  height: 8%;
}


#user-container, #current-chat-container {
  border-bottom: 1px solid #eee;
}

#current-chat-header h1, #current-chat-header div, #user-header h1, #user-header div {
  display: inline;
  vertical-align: middle;
  padding: 5px 10px 5px 10px;
}

#msg-container {
  padding: 10px;
  max-height: 70%;
  height:70%;
  max-width: 100%;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 10px;
}

#chats-container {
  max-height: 90%;
  height: 90%;
  max-width:100%;
  width:100%;
}

#send-container {
  padding:10px;
}

#myMsg {
  height: auto;
  resize: none;
}


.system-msg{
  margin:10px;
  text-align: center;
  color:gray;
}

.user-msg-box {
  display:flex;
  clear:both;
  max-width:100%;
  /* border: 1px solid green; */
}

.user-box {
  display:flex;
  flex-direction: column;
  vertical-align: top;
  max-width:100px;
  margin: 0px 0px 10px 0px;
  /* border: 1px solid pink; */
}

.user-id {
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  width:50px;
  font-size: 8pt;
  color: rgba(200,200,200);
  /* border: 1px solid purple; */
}

.user-avatar {
  text-align: center;
  width:50px;
  padding:3px;
  /* border: 1px solid red; */
}

.user-msg {
  display: flex;
  align-items: center;
  word-wrap: break-word;
  white-space: normal;
  max-width:60%;
  /* min-width:100px; */
  height:auto;
  padding: 0px 8px 0px 8px;
  margin:0px 10px 10px 10px;
  border-radius: 5px;
  /* border: 1px solid black; */
}

.left-box {
  flex-direction: row;
  justify-content: flex-start;
  /* border: 1px solid blue; */
}

.right-box {
  flex-direction: row-reverse;
  justify-content: flex-start;
  /* border: 1px solid blue; */
}


.left-msg {
  text-align: left;
  background-color: rgba(200,240,255);
}

.right-msg {
  text-align: left;
  background-color: rgba(230,230,230);
}

.left-private-msg {
  color: black;
  background-color: rgba(250,250,250,0.8);
  border: 2px solid rgb(200,240,255);
}

.right-private-msg {
  color: black;
  background-color: rgba(250,250,250,0.8);
  border: 2px solid rgb(230,230,230);
}


i.fa-comment {
  color: red;
}

span.num {
  font-size: 0.3em;
  color: #fff;
  position: relative; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 20px;
}

.name {
  padding: 5px 10px 5px 10px;
}

li.page-item {
    cursor: pointer;
}

li.page-item.disabled {
    pointer-events: none;
}

.emoji {
  margin: 10px 20px 10px 20px;
  cursor: pointer;
}
